section{
    position:relative;
    top:20px;
    display: flex;
    /* background-color: aqua; */
    height: 65vh;
    padding-left: 100px;
}

.tbtn{
    display: flex;
    gap: 20px;
}

.formp{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
    /* background-color: aqua; */
}

.form2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: black; */
    position: relative;
}

.formdiv{
    display: flex;
    flex-direction: column;
    position: relative;
}

.formdiv input{
    padding:0 10px;
    height:30px;
    width:80%;
}

.formdiv label{
    position: absolute;
    top:-11px;
    left: 10px;
    background-color: #ffff;
    font-size: 14px;
}

.formdiv textarea{
    padding: 10px;
    width:470px;
}

.form2 button{

    margin:0 270px;
}


.imges img{
    height: 100%;
    width: auto;
}