@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  width:100vw;
  background-color:#0f172a ;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#ffff;
  height: 380px;
  width:420px;
  background-color:#1e293b;
  box-shadow:0 0 20px rgba(59, 130, 246,0.2);
}

h1{
  margin-bottom: 20px;
}

label{
  display:block;
  margin-top:15px;
}
input{
  height:40px;
  width:300px;
  padding:0px 10px;
  font-weight: 400;
  border: none;
  border-radius:10px;
  outline: none;
}

button{
    height:30px;
    width:250px;
    margin-top: 20px;
    border-radius: 10px;
    border:none;
  font-weight:400;
}
button:active{
  background-color: #0f172a;
  color:#ffff;
}

.result{
  margin: 10px;
}